n8n/workflows/weekly-lstm-forecast-email.json
{
  "name": "Weekly Forecast + Alpaca Trading",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "6b7a1cc9-1fc4-43c3-9fbd-a28467d8ba71",
      "name": "Weekly Trigger (Mon 18:00 IST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3536,
        3152
      ]
    },
    {
      "parameters": {},
      "id": "e4bf8e75-4285-417a-ae00-e73023dd61e2",
      "name": "Manual Trigger (for testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3536,
        3328
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/orders?status=open&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-ppo-open-orders",
      "name": "Check PPO Open Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2844
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "YVMuh5FJ60TmYEVe",
          "name": "PPO"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d3834e14-9ba2-4c9e-9816-4ec6d47a350f",
      "name": "Fetch PPO Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2944
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "YVMuh5FJ60TmYEVe",
          "name": "PPO"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "46726888-2024-4f33-a3ec-f154aade36f7",
      "name": "Fetch PPO Positions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        2944
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "YVMuh5FJ60TmYEVe",
          "name": "PPO"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/orders?status=open&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-sac-open-orders",
      "name": "Check SAC Open Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2652
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "LHsT9blDwa8KyKdR",
          "name": "SAC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "32a8bb52-13df-4078-b0a1-bc83bd08d29e",
      "name": "Fetch SAC Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2752
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "LHsT9blDwa8KyKdR",
          "name": "SAC"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2a4f7122-50a5-4995-b538-8e4829d2b401",
      "name": "Fetch SAC Positions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        2752
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "LHsT9blDwa8KyKdR",
          "name": "SAC"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/orders?status=open&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-hrp-open-orders",
      "name": "Check HRP Open Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2444
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Po4KepbDzUFZNYiG",
          "name": "HRP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "eaf7eee2-942b-466d-88b4-0c8b3ef33ff9",
      "name": "Fetch HRP Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2544
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Po4KepbDzUFZNYiG",
          "name": "HRP"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a9adbe9b-f634-4df2-9c96-253087409086",
      "name": "Fetch HRP Positions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        2544
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Po4KepbDzUFZNYiG",
          "name": "HRP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize positions - always output 1 item even if empty\nconst positions = $input.all().map(i => i.json);\nreturn [{ json: { positions: positions } }];"
      },
      "id": "norm-positions-ppo-lstm",
      "name": "Normalize PPO Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        2944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build portfolio from account + normalized positions\nconst account = $('Fetch PPO Account').first().json;\nconst posData = $input.first().json;\nconst positions = posData.positions || [];\nreturn {\n  json: {\n    portfolio_ppo: {\n      cash: parseFloat(account.cash || '0'),\n      positions: positions.map(p => ({\n        symbol: p.symbol,\n        qty: parseFloat(p.qty || '0'),\n        market_value: parseFloat(p.market_value || '0')\n      }))\n    }\n  }\n};"
      },
      "id": "0bf23acc-1693-4480-add6-ce3f975f051a",
      "name": "Build PPO Portfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        2944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize positions - always output 1 item even if empty\nconst positions = $input.all().map(i => i.json);\nreturn [{ json: { positions: positions } }];"
      },
      "id": "norm-positions-sac-patchtst",
      "name": "Normalize SAC Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        2752
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build portfolio from account + normalized positions\nconst account = $('Fetch SAC Account').first().json;\nconst posData = $input.first().json;\nconst positions = posData.positions || [];\nreturn {\n  json: {\n    portfolio_sac: {\n      cash: parseFloat(account.cash || '0'),\n      positions: positions.map(p => ({\n        symbol: p.symbol,\n        qty: parseFloat(p.qty || '0'),\n        market_value: parseFloat(p.market_value || '0')\n      }))\n    }\n  }\n};"
      },
      "id": "8ac70d8e-1ee9-4625-8661-2fb8ce39cd37",
      "name": "Build SAC Portfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        2752
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize positions - always output 1 item even if empty\nconst positions = $input.all().map(i => i.json);\nreturn [{ json: { positions: positions } }];"
      },
      "id": "norm-positions-hrp",
      "name": "Normalize HRP Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        2544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build portfolio from account + normalized positions\nconst account = $('Fetch HRP Account').first().json;\nconst posData = $input.first().json;\nconst positions = posData.positions || [];\nreturn {\n  json: {\n    portfolio_hrp: {\n      cash: parseFloat(account.cash || '0'),\n      positions: positions.map(p => ({\n        symbol: p.symbol,\n        qty: parseFloat(p.qty || '0'),\n        market_value: parseFloat(p.market_value || '0')\n      }))\n    }\n  }\n};"
      },
      "id": "790c0a52-6e6a-4892-9045-7d19d9d81fac",
      "name": "Build HRP Portfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        2544
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/universe/halal",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c29d7c52-7e9e-4f29-8f6e-9561a69b759d",
      "name": "GET Halal Universe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        3152
      ]
    },
    {
      "parameters": {
        "jsCode": "const N = 20;\nconst stocks = $input.first().json.stocks || [];\nconst symbols = stocks.slice(0, N).map(s => s.symbol);\nconst asOfDate = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Kolkata' }).format(new Date());\nconst runId = `paper:${asOfDate}`;\nreturn { json: { symbols, as_of_date: asOfDate, run_id: runId, stock_count: symbols.length } };"
      },
      "id": "0647c841-eca0-42fb-8eb1-9ab746f79a81",
      "name": "Pick Top 20 Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        3152
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "eafa0be2-668d-4e19-b965-f120c4f0baf9",
      "name": "Merge Portfolios",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4416,
        2848
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8f2d0317-5222-41be-891e-0d88a11ecde9",
      "name": "Merge SAC + HRP Portfolios",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4416,
        2656
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9683e50a-6309-431e-9694-a32625c19278",
      "name": "Merge Phase 2 Gate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5536,
        3056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/signals/fundamentals",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbols: $json.symbols }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "e3493156-dbd6-480a-9e27-fbe9939560cc",
      "name": "POST Fundamentals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        2848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/signals/news",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbols: $json.symbols, as_of_date: $json.as_of_date, run_id: $json.run_id, max_articles_per_symbol: 10, return_top_k: 3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "0fcc2697-6806-43de-ad41-90879266b6cc",
      "name": "POST News Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        3056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/inference/lstm",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbols: $json.symbols, as_of_date: $json.as_of_date }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "cd2afb11-2c22-44fb-9cbf-9dd9f1a4fb87",
      "name": "POST LSTM Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        3248
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/inference/patchtst",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbols: $json.symbols, as_of_date: $json.as_of_date }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "1b5a0ac0-1ade-414c-8181-96c555422db0",
      "name": "POST PatchTST Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        3456
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "99c23289-62a2-4590-81dd-baf52bc09896",
      "name": "Merge Fundamentals + News",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4864,
        2944
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "deb1e97d-8299-43a5-9b20-b91a28105135",
      "name": "Merge + LSTM",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5088,
        3104
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "1e02485f-647d-4673-9697-2323603cfef9",
      "name": "Merge + PatchTST",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5312,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst asOfDate = input.as_of_date || new Date().toISOString().split('T')[0];\nconst runId = input.run_id || `paper:${asOfDate}`;\n\n// Check for open orders - if any exist, skip that algorithm\nlet ppoOpenOrders = [];\nlet sacOpenOrders = [];\nlet hrpOpenOrders = [];\ntry { ppoOpenOrders = $('Check PPO Open Orders').first().json; if (!Array.isArray(ppoOpenOrders)) ppoOpenOrders = []; } catch(e) { ppoOpenOrders = []; }\ntry { sacOpenOrders = $('Check SAC Open Orders').first().json; if (!Array.isArray(sacOpenOrders)) sacOpenOrders = []; } catch(e) { sacOpenOrders = []; }\ntry { hrpOpenOrders = $('Check HRP Open Orders').first().json; if (!Array.isArray(hrpOpenOrders)) hrpOpenOrders = []; } catch(e) { hrpOpenOrders = []; }\n\nconst run_ppo = ppoOpenOrders.length === 0;\nconst run_sac = sacOpenOrders.length === 0;\nconst run_hrp = hrpOpenOrders.length === 0;\n\nconst skipped_algorithms = [];\nif (!run_ppo) skipped_algorithms.push('PPO');\nif (!run_sac) skipped_algorithms.push('SAC');\nif (!run_hrp) skipped_algorithms.push('HRP');\n\nif (skipped_algorithms.length > 0) {\n  console.log(`Skipping algorithms with open orders: ${skipped_algorithms.join(', ')}`);\n}\n\n// Get real portfolios from earlier nodes - fail if not available\nlet portfolio_ppo, portfolio_sac, portfolio_hrp;\nlet errors = [];\n\ntry { portfolio_ppo = $('Build PPO Portfolio').first().json.portfolio_ppo; if (!portfolio_ppo) throw new Error('Empty'); } catch(e) { errors.push('PPO portfolio fetch failed'); }\ntry { portfolio_sac = $('Build SAC Portfolio').first().json.portfolio_sac; if (!portfolio_sac) throw new Error('Empty'); } catch(e) { errors.push('SAC portfolio fetch failed'); }\ntry { portfolio_hrp = $('Build HRP Portfolio').first().json.portfolio_hrp; if (!portfolio_hrp) throw new Error('Empty'); } catch(e) { errors.push('HRP portfolio fetch failed'); }\n\nif (errors.length > 0) { throw new Error('Portfolio fetch errors: ' + errors.join(', ') + '. Check Alpaca API credentials and connectivity.'); }\n\nreturn {\n  json: {\n    ...input,\n    as_of_date: asOfDate,\n    run_id: runId,\n    attempt: 1,\n    portfolio_ppo,\n    portfolio_sac,\n    portfolio_hrp,\n    run_ppo,\n    run_sac,\n    run_hrp,\n    skipped_algorithms,\n    ppo_open_count: ppoOpenOrders.length,\n    sac_open_count: sacOpenOrders.length,\n    hrp_open_count: hrpOpenOrders.length\n  }\n};"
      },
      "id": "451562bf-e0c8-4d68-8217-bba9fe2d9ba9",
      "name": "Prepare Phase 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5536,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if SAC should be skipped due to open orders\nconst input = $input.first().json;\nif (!input.run_sac) {\n  return { json: { skipped: true, algorithm: 'sac', target_weights: {}, reason: 'Open orders exist', turnover: 0, model_version: 'skipped' } };\n}\n\n// Make inference call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/inference/sac',\n  body: { portfolio: input.portfolio_sac, as_of_date: input.as_of_date },\n  json: true,\n  timeout: 120000\n});\n\nreturn { json: response };"
      },
      "id": "7e4b825d-9116-424f-9472-fb289ccbd726",
      "name": "POST SAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if PPO should be skipped due to open orders\nconst input = $input.first().json;\nif (!input.run_ppo) {\n  return { json: { skipped: true, algorithm: 'ppo', target_weights: {}, reason: 'Open orders exist', turnover: 0, model_version: 'skipped' } };\n}\n\n// Make inference call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/inference/ppo',\n  body: { portfolio: input.portfolio_ppo, as_of_date: input.as_of_date },\n  json: true,\n  timeout: 120000\n});\n\nreturn { json: response };"
      },
      "id": "01af5976-13df-47f0-9208-9a3b5bdef3ba",
      "name": "POST PPO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if HRP should be skipped due to open orders\nconst input = $input.first().json;\nif (!input.run_hrp) {\n  return { json: { skipped: true, algorithm: 'hrp', percentage_weights: {}, reason: 'Open orders exist', symbols_used: 0, symbols_excluded: [] } };\n}\n\n// Make allocation call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/allocation/hrp',\n  body: { as_of_date: input.as_of_date },\n  json: true,\n  timeout: 120000\n});\n\nreturn { json: response };"
      },
      "id": "557eae98-a3f8-4304-bd0c-8ee40a710cec",
      "name": "POST HRP Allocation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        3648
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for PPO\nconst phase2 = $('Prepare Phase 2').first().json;\nconst allocation = $input.first().json;\n\n// If skipped due to open orders, short-circuit\nif (allocation.skipped) {\n  return { json: { skipped: true, algorithm: 'ppo', reason: allocation.reason, orders: [], target_weights: {} } };\n}\n\nreturn {\n  json: {\n    target_weights: allocation.target_weights || {},\n    portfolio: phase2.portfolio_ppo,\n    run_id: phase2.run_id,\n    attempt: phase2.attempt,\n    algorithm: 'ppo',\n    allocation_result: allocation\n  }\n};"
      },
      "id": "79e1f144-d7fe-4b11-9e2b-c0b18a161ee1",
      "name": "Prep Orders PPO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for SAC\nconst phase2 = $('Prepare Phase 2').first().json;\nconst allocation = $input.first().json;\n\n// If skipped due to open orders, short-circuit\nif (allocation.skipped) {\n  return { json: { skipped: true, algorithm: 'sac', reason: allocation.reason, orders: [], target_weights: {} } };\n}\n\nreturn {\n  json: {\n    target_weights: allocation.target_weights || {},\n    portfolio: phase2.portfolio_sac,\n    run_id: phase2.run_id,\n    attempt: phase2.attempt,\n    algorithm: 'sac',\n    allocation_result: allocation\n  }\n};"
      },
      "id": "1f8ef350-72e7-4195-baf7-eb9683441111",
      "name": "Prep Orders SAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for HRP - convert percentage weights to decimal\nconst phase2 = $('Prepare Phase 2').first().json;\nconst allocation = $input.first().json;\n\n// If skipped due to open orders, short-circuit\nif (allocation.skipped) {\n  return { json: { skipped: true, algorithm: 'hrp', reason: allocation.reason, orders: [], target_weights: {} } };\n}\n\nconst pctWeights = allocation.percentage_weights || {};\nconst decWeights = {};\nfor (const [sym, pct] of Object.entries(pctWeights)) {\n  decWeights[sym] = pct / 100;\n}\nreturn {\n  json: {\n    target_weights: decWeights,\n    portfolio: phase2.portfolio_hrp,\n    run_id: phase2.run_id,\n    attempt: phase2.attempt,\n    algorithm: 'hrp',\n    allocation_result: allocation\n  }\n};"
      },
      "id": "eb719f5c-e37a-47ef-ac7e-ca653dbfd706",
      "name": "Prep Orders HRP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        3648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/experience/store",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const portfolio = $json.portfolio || {}; const positions = portfolio.positions || []; const cash = portfolio.cash || 0; const totalValue = cash + positions.reduce((s, p) => s + (p.market_value || 0), 0); const currentWeights = Object.fromEntries(positions.map(p => [p.symbol, p.market_value / totalValue])); currentWeights.CASH = cash / totalValue; let signals = {}; try { const news = $('POST News Sentiment').first().json?.sentiments || []; const fund = $('POST Fundamentals').first().json?.fundamentals || []; news.forEach(n => { signals[n.symbol] = signals[n.symbol] || {}; signals[n.symbol].news_sentiment = n.sentiment_score || 0; }); fund.forEach(f => { signals[f.symbol] = signals[f.symbol] || {}; signals[f.symbol].gross_margin = f.gross_margin || 0; signals[f.symbol].operating_margin = f.operating_margin || 0; signals[f.symbol].net_margin = f.net_margin || 0; signals[f.symbol].current_ratio = f.current_ratio || 0; signals[f.symbol].debt_to_equity = f.debt_to_equity || 0; }); } catch(e) {} let lstmForecasts = {}; let patchtstForecasts = {}; try { const lstm = $('POST LSTM Forecast').first().json?.predictions || []; lstm.forEach(p => { lstmForecasts[p.symbol] = p.predicted_return || 0; }); } catch(e) {} try { const patchtst = $('POST PatchTST Forecast').first().json?.predictions || []; patchtst.forEach(p => { patchtstForecasts[p.symbol] = p.predicted_return || 0; }); } catch(e) {} return JSON.stringify({ run_id: $json.run_id, week_start: $json.allocation_result?.target_week_start || $json.as_of_date, week_end: $json.allocation_result?.target_week_end || $json.as_of_date, model_type: 'ppo', model_version: $json.allocation_result?.model_version || 'unknown', state: { signals, lstm_forecasts: lstmForecasts, patchtst_forecasts: patchtstForecasts, current_weights: currentWeights }, intended_action: $json.target_weights || {}, intended_turnover: $json.allocation_result?.turnover || 0 }); })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-experience-ppo",
      "name": "Store Experience PPO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6256,
        3408
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/experience/store",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const portfolio = $json.portfolio || {}; const positions = portfolio.positions || []; const cash = portfolio.cash || 0; const totalValue = cash + positions.reduce((s, p) => s + (p.market_value || 0), 0); const currentWeights = Object.fromEntries(positions.map(p => [p.symbol, p.market_value / totalValue])); currentWeights.CASH = cash / totalValue; let signals = {}; try { const news = $('POST News Sentiment').first().json?.sentiments || []; const fund = $('POST Fundamentals').first().json?.fundamentals || []; news.forEach(n => { signals[n.symbol] = signals[n.symbol] || {}; signals[n.symbol].news_sentiment = n.sentiment_score || 0; }); fund.forEach(f => { signals[f.symbol] = signals[f.symbol] || {}; signals[f.symbol].gross_margin = f.gross_margin || 0; signals[f.symbol].operating_margin = f.operating_margin || 0; signals[f.symbol].net_margin = f.net_margin || 0; signals[f.symbol].current_ratio = f.current_ratio || 0; signals[f.symbol].debt_to_equity = f.debt_to_equity || 0; }); } catch(e) {} let lstmForecasts = {}; let patchtstForecasts = {}; try { const lstm = $('POST LSTM Forecast').first().json?.predictions || []; lstm.forEach(p => { lstmForecasts[p.symbol] = p.predicted_return || 0; }); } catch(e) {} try { const patchtst = $('POST PatchTST Forecast').first().json?.predictions || []; patchtst.forEach(p => { patchtstForecasts[p.symbol] = p.predicted_return || 0; }); } catch(e) {} return JSON.stringify({ run_id: $json.run_id, week_start: $json.allocation_result?.target_week_start || $json.as_of_date, week_end: $json.allocation_result?.target_week_end || $json.as_of_date, model_type: 'sac', model_version: $json.allocation_result?.model_version || 'unknown', state: { signals, lstm_forecasts: lstmForecasts, patchtst_forecasts: patchtstForecasts, current_weights: currentWeights }, intended_action: $json.target_weights || {}, intended_turnover: $json.allocation_result?.turnover || 0 }); })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-experience-sac",
      "name": "Store Experience SAC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6256,
        2896
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for PPO - skip if already skipped\nconst input = $input.first().json;\nif (input.skipped) {\n  return { json: { orders: [], skipped: true, algorithm: 'ppo', reason: input.reason } };\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/orders/generate',\n  body: { target_weights: input.target_weights, portfolio: input.portfolio, run_id: input.run_id, attempt: input.attempt, algorithm: input.algorithm },\n  json: true,\n  timeout: 60000\n});\n\nreturn { json: response };"
      },
      "id": "c6a46375-7638-49b1-aa9c-92adca545bf1",
      "name": "Generate Orders PPO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for SAC - skip if already skipped\nconst input = $input.first().json;\nif (input.skipped) {\n  return { json: { orders: [], skipped: true, algorithm: 'sac', reason: input.reason } };\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/orders/generate',\n  body: { target_weights: input.target_weights, portfolio: input.portfolio, run_id: input.run_id, attempt: input.attempt, algorithm: input.algorithm },\n  json: true,\n  timeout: 60000\n});\n\nreturn { json: response };"
      },
      "id": "df30e59b-9292-4e9a-a876-3863a825e939",
      "name": "Generate Orders SAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate orders for HRP - skip if already skipped\nconst input = $input.first().json;\nif (input.skipped) {\n  return { json: { orders: [], skipped: true, algorithm: 'hrp', reason: input.reason } };\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://host.docker.internal:8000/orders/generate',\n  body: { target_weights: input.target_weights, portfolio: input.portfolio, run_id: input.run_id, attempt: input.attempt, algorithm: input.algorithm },\n  json: true,\n  timeout: 60000\n});\n\nreturn { json: response };"
      },
      "id": "525c92e8-4817-42c5-aa45-4570ec106f71",
      "name": "Generate Orders HRP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        3648
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract orders and submit each to Alpaca\nconst input = $input.first().json;\nif (input.skipped || !input.orders || input.orders.length === 0) {\n  // Return empty array or placeholder to allow workflow to continue\n  return [{ json: { skipped: true, account: 'ppo', orders_count: 0 } }];\n}\nconst orders = input.orders;\nreturn orders.map(order => ({ json: { ...order, account: 'ppo' } }));"
      },
      "id": "358b3769-fa73-4c81-a701-df25fb5b717d",
      "name": "Split Orders PPO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract orders and submit each to Alpaca\nconst input = $input.first().json;\nif (input.skipped || !input.orders || input.orders.length === 0) {\n  // Return empty array or placeholder to allow workflow to continue\n  return [{ json: { skipped: true, account: 'sac', orders_count: 0 } }];\n}\nconst orders = input.orders;\nreturn orders.map(order => ({ json: { ...order, account: 'sac' } }));"
      },
      "id": "872042d1-2a2b-4b10-8963-fd35300be278",
      "name": "Split Orders SAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract orders and submit each to Alpaca\nconst input = $input.first().json;\nif (input.skipped || !input.orders || input.orders.length === 0) {\n  // Return empty array or placeholder to allow workflow to continue\n  return [{ json: { skipped: true, account: 'hrp', orders_count: 0 } }];\n}\nconst orders = input.orders;\nreturn orders.map(order => ({ json: { ...order, account: 'hrp' } }));"
      },
      "id": "f4f8246c-f6e6-4ae7-bfa3-b7b94dbb762f",
      "name": "Split Orders HRP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        3648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbol: $json.symbol, qty: String($json.qty), side: $json.side, type: $json.type, time_in_force: $json.time_in_force, limit_price: String($json.limit_price), client_order_id: $json.client_order_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7f3e22db-7c7c-4954-8a6d-4f21ad7eb1d2",
      "name": "Submit Order PPO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6736,
        3248
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "YVMuh5FJ60TmYEVe",
          "name": "PPO"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbol: $json.symbol, qty: String($json.qty), side: $json.side, type: $json.type, time_in_force: $json.time_in_force, limit_price: String($json.limit_price), client_order_id: $json.client_order_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ef3b54e4-27f0-4cdd-aadf-54a3e76dea68",
      "name": "Submit Order SAC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6736,
        3056
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "LHsT9blDwa8KyKdR",
          "name": "SAC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbol: $json.symbol, qty: String($json.qty), side: $json.side, type: $json.type, time_in_force: $json.time_in_force, limit_price: String($json.limit_price), client_order_id: $json.client_order_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dffc9840-55c9-4b9f-ab3a-e41e4834f606",
      "name": "Submit Order HRP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6736,
        3648
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Po4KepbDzUFZNYiG",
          "name": "HRP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect order results for PPO\nconst results = $input.all().map(i => i.json);\n// Check if skipped\nif (results.length === 1 && results[0].skipped) {\n  return { json: { account: 'ppo', orders_submitted: 0, orders_failed: 0, skipped: true, results: [] } };\n}\nconst successful = results.filter(r => r.id && !r.error).length;\nconst failed = results.filter(r => r.error || !r.id).length;\nreturn { json: { account: 'ppo', orders_submitted: successful, orders_failed: failed, results } };"
      },
      "id": "f20fc8c0-baf9-4558-9a4d-3a2dbea82b2a",
      "name": "Collect Results PPO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        3248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect order results for SAC\nconst results = $input.all().map(i => i.json);\n// Check if skipped\nif (results.length === 1 && results[0].skipped) {\n  return { json: { account: 'sac', orders_submitted: 0, orders_failed: 0, skipped: true, results: [] } };\n}\nconst successful = results.filter(r => r.id && !r.error).length;\nconst failed = results.filter(r => r.error || !r.id).length;\nreturn { json: { account: 'sac', orders_submitted: successful, orders_failed: failed, results } };"
      },
      "id": "c8fa7361-890b-4861-a612-230d5e9399b2",
      "name": "Collect Results SAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        3056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect order results for HRP\nconst results = $input.all().map(i => i.json);\n// Check if skipped\nif (results.length === 1 && results[0].skipped) {\n  return { json: { account: 'hrp', orders_submitted: 0, orders_failed: 0, skipped: true, results: [] } };\n}\nconst successful = results.filter(r => r.id && !r.error).length;\nconst failed = results.filter(r => r.error || !r.id).length;\nreturn { json: { account: 'hrp', orders_submitted: successful, orders_failed: failed, results } };"
      },
      "id": "1fcb2576-b9cc-4c41-a229-d7ac5b76f836",
      "name": "Collect Results HRP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        3648
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "319d9111-e07c-413c-9bc9-fd09b34168c1",
      "name": "Merge SAC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7216,
        2944
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "51d23584-d04a-4d55-b444-b33f7a020180",
      "name": "Merge + PPO",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7424,
        3104
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "19fc445e-9c3c-4699-8f93-5e5675b45c70",
      "name": "Merge + PPO (2)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7648,
        3248
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4ffb7ab9-7c07-4415-b362-80a246f743a7",
      "name": "Merge + HRP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7872,
        3408
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all order execution results\nlet orderResults = { ppo: { orders_submitted: 0, orders_failed: 0 }, sac: { orders_submitted: 0, orders_failed: 0 }, hrp: { orders_submitted: 0, orders_failed: 0 } };\ntry { const r = $('Collect Results PPO').first().json; orderResults.ppo = r; } catch(e) {}\ntry { const r = $('Collect Results SAC').first().json; orderResults.sac = r; } catch(e) {}\ntry { const r = $('Collect Results HRP').first().json; orderResults.hrp = r; } catch(e) {}\n\nconst phase2Merged = $input.first().json;\nconst phase1Data = $('Prepare Phase 2').first().json;\n\nlet lstmPredictions = [];\nlet lstmModelVersion = 'unknown';\nlet targetWeekStart = 'N/A';\nlet targetWeekEnd = 'N/A';\ntry { const d = $('POST LSTM Forecast').first().json; lstmPredictions = d.predictions || []; lstmModelVersion = d.model_version || 'unknown'; targetWeekStart = d.target_week_start || 'N/A'; targetWeekEnd = d.target_week_end || 'N/A'; } catch (e) {}\n\nlet patchtstPredictions = [];\nlet patchtstModelVersion = 'unknown';\nlet patchtstSignalsUsed = [];\ntry { const d = $('POST PatchTST Forecast').first().json; patchtstPredictions = d.predictions || []; patchtstModelVersion = d.model_version || 'unknown'; patchtstSignalsUsed = d.signals_used || []; } catch (e) {}\n\nlet newsSentiments = [];\ntry { newsSentiments = $('POST News Sentiment').first().json.per_symbol || []; } catch (e) {}\n\nlet fundamentalsPerSymbol = [];\ntry { fundamentalsPerSymbol = $('POST Fundamentals').first().json.per_symbol || []; } catch (e) {}\n\nconst hrpWeights = phase2Merged.percentage_weights || {};\nconst hrpSymbolsUsed = phase2Merged.symbols_used || 0;\nconst hrpSymbolsExcluded = phase2Merged.symbols_excluded || [];\nconst asOfDate = phase2Merged.as_of_date || phase1Data.as_of_date || 'N/A';\n\nlet sacWeights = {}, sacTurnover = 0, sacVersion = 'unknown';\nlet ppoWeights = {}, ppoTurnover = 0, ppoVersion = 'unknown';\n\ntry { const d = $('POST SAC').first().json; sacWeights = d.target_weights || {}; sacTurnover = d.turnover || 0; sacVersion = d.model_version || 'unknown'; } catch (e) {}\ntry { const d = $('POST PPO').first().json; ppoWeights = d.target_weights || {}; ppoTurnover = d.turnover || 0; ppoVersion = d.model_version || 'unknown'; } catch (e) {}\ntry { const d = $('POST HRP Allocation').first().json; if (Object.keys(hrpWeights).length === 0) Object.assign(hrpWeights, d.percentage_weights || {}); } catch (e) {}\n\nconst newsMap = {};\nfor (const ns of newsSentiments) { if (ns.sentiment_score !== undefined) newsMap[ns.symbol] = ns; }\nconst fundamentalsMap = {};\nfor (const f of fundamentalsPerSymbol) { if (f.ratios) fundamentalsMap[f.symbol] = f.ratios; }\n\nconst formatWeight = (w) => w !== undefined ? (w * 100).toFixed(1) + '%' : 'N/A';\nconst formatHrpWeight = (w) => w !== undefined ? w.toFixed(1) + '%' : 'N/A';\nconst getTop5 = (weights) => Object.entries(weights).filter(([k, v]) => k !== 'CASH').sort((a, b) => b[1] - a[1]).slice(0, 5).map(([sym, wt]) => `${sym}: ${typeof wt === 'number' && wt < 1 ? formatWeight(wt) : formatHrpWeight(wt)}`).join(', ');\n\nconst prompt = `You are a financial analyst. Provide a brief JSON analysis with these 8 fields:\n\nTOP ALLOCATIONS:\nHRP: ${getTop5(hrpWeights) || 'N/A'}\nSAC: ${getTop5(sacWeights) || 'N/A'}\nPPO: ${getTop5(ppoWeights) || 'N/A'}\n\nRespond with JSON only:\n{\"para_1_overall_summary\":\"<3 lines>\",\"para_2_sac\":\"<3 lines>\",\"para_3_ppo\":\"<3 lines>\",\"para_4_hrp_summary\":\"<3 lines>\",\"para_5_patchtst_forecast\":\"<3 lines>\",\"para_6_lstm_forecast\":\"<3 lines>\",\"para_7_news_sentiment\":\"<3 lines>\",\"para_8_fundamentals\":\"<3 lines>\"}`;\n\nreturn {\n  json: {\n    lstm: { predictions: lstmPredictions, model_version: lstmModelVersion, target_week_start: targetWeekStart, target_week_end: targetWeekEnd },\n    patchtst: { predictions: patchtstPredictions, model_version: patchtstModelVersion, signals_used: patchtstSignalsUsed },\n    news: { per_symbol: newsSentiments },\n    fundamentals: { per_symbol: fundamentalsPerSymbol },\n    hrp: { percentage_weights: hrpWeights, symbols_used: hrpSymbolsUsed, symbols_excluded: hrpSymbolsExcluded, as_of_date: asOfDate },\n    sac: { target_weights: sacWeights, turnover: sacTurnover, model_version: sacVersion },\n    ppo: { target_weights: ppoWeights, turnover: ppoTurnover, model_version: ppoVersion },\n    order_results: orderResults,\n    openai_prompt: prompt\n  }\n};"
      },
      "id": "925dbe73-4274-47da-a391-afd87ef95939",
      "name": "Prepare OpenAI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8096,
        3408
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.openai_prompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 2500,
          "temperature": 0.3
        }
      },
      "id": "857a104e-ad5c-4306-8ccf-509ac5f8e430",
      "name": "OpenAI Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        8304,
        3408
      ],
      "credentials": {
        "openAiApi": {
          "id": "kkK16Hmm3lVPdbkP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Prepare OpenAI Prompt').first().json;\nconst orderResults = prevData.order_results || {};\n\n// Get skipped algorithms info from Prepare Phase 2\nlet skippedAlgorithms = [];\ntry { skippedAlgorithms = $('Prepare Phase 2').first().json.skipped_algorithms || []; } catch(e) {}\n\nlet aiSummary = {};\ntry { const content = input.message?.content || '{}'; aiSummary = JSON.parse(content); } catch (e) { aiSummary = { para_1_overall_summary: 'Unable to generate AI summary' }; }\n\nconst lstmData = prevData.lstm || {};\nconst hrpData = prevData.hrp || {};\nconst targetWeekStart = lstmData.target_week_start || 'N/A';\nconst targetWeekEnd = lstmData.target_week_end || 'N/A';\nconst asOfDate = hrpData.as_of_date || 'N/A';\n\n// Skipped algorithms warning section\nlet skippedSection = '';\nif (skippedAlgorithms.length > 0) {\n  skippedSection = `<div style=\"margin-bottom: 24px; padding: 16px; background: #fef3c7; border: 2px solid #f59e0b; border-radius: 8px;\"><h3 style=\"color: #92400e; margin-top: 0;\">Skipped Algorithms</h3><p style=\"margin-bottom: 0;\">The following algorithms were skipped due to open orders: <strong>${skippedAlgorithms.join(', ')}</strong></p><p style=\"margin-top: 8px; font-size: 12px; color: #78716c;\">Cancel the open orders in Alpaca to allow these algorithms to run on the next execution.</p></div>`;\n}\n\n// Order execution summary - show 'Skipped' for skipped algorithms\nconst ppoStatus = orderResults.ppo?.skipped ? 'Skipped' : `${orderResults.ppo?.orders_submitted || 0}`;\nconst sacStatus = orderResults.sac?.skipped ? 'Skipped' : `${orderResults.sac?.orders_submitted || 0}`;\nconst hrpStatus = orderResults.hrp?.skipped ? 'Skipped' : `${orderResults.hrp?.orders_submitted || 0}`;\n\nconst orderSection = `\n<div style=\"margin-bottom: 24px; padding: 16px; background: #f0fdf4; border: 2px solid #22c55e; border-radius: 8px;\">\n  <h3 style=\"color: #166534; margin-top: 0;\">Order Execution Summary</h3>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr style=\"background: #dcfce7;\"><th style=\"padding: 8px; text-align: left;\">Account</th><th style=\"padding: 8px;\">Submitted</th><th style=\"padding: 8px;\">Failed</th></tr>\n    <tr><td style=\"padding: 8px;\">PPO</td><td style=\"padding: 8px; text-align: center;\">${ppoStatus}</td><td style=\"padding: 8px; text-align: center;\">${orderResults.ppo?.skipped ? '-' : (orderResults.ppo?.orders_failed || 0)}</td></tr>\n    <tr><td style=\"padding: 8px;\">SAC</td><td style=\"padding: 8px; text-align: center;\">${sacStatus}</td><td style=\"padding: 8px; text-align: center;\">${orderResults.sac?.skipped ? '-' : (orderResults.sac?.orders_failed || 0)}</td></tr>\n    <tr><td style=\"padding: 8px;\">HRP</td><td style=\"padding: 8px; text-align: center;\">${hrpStatus}</td><td style=\"padding: 8px; text-align: center;\">${orderResults.hrp?.skipped ? '-' : (orderResults.hrp?.orders_failed || 0)}</td></tr>\n  </table>\n</div>`;\n\nconst aiSection = `<div style=\"margin-bottom: 24px; padding: 20px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 12px; color: white;\"><h2 style=\"margin-top: 0;\">AI Analysis</h2><p>${aiSummary.para_1_overall_summary || 'N/A'}</p></div>`;\n\nconst emailBody = `<div style=\"font-family: sans-serif; max-width: 900px; margin: 0 auto; padding: 20px;\"><h1>Weekly Portfolio Analysis</h1><div style=\"background: #f3f4f6; padding: 16px; border-radius: 8px; margin-bottom: 24px;\"><strong>Target Week:</strong> ${targetWeekStart} -> ${targetWeekEnd} | <strong>As-of:</strong> ${asOfDate}</div>${skippedSection}${orderSection}${aiSection}<div style=\"margin-top: 32px; font-size: 12px; color: #6b7280;\"><em>Generated by LearnFinance-2025 | Not financial advice</em></div></div>`;\n\nreturn { json: { emailSubject: `Weekly Portfolio Analysis (${targetWeekStart} -> ${targetWeekEnd})`, emailBody, orderResults, skippedAlgorithms } };"
      },
      "id": "5e243f9a-dcc1-4469-ad20-b15fc17d0c41",
      "name": "Format Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8528,
        3408
      ]
    },
    {
      "parameters": {
        "sendTo": "hajirazin@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ea964fa9-4df8-49fc-b06f-3f0b25fdd631",
      "name": "Gmail Send Forecast",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        8752,
        3408
      ],
      "webhookId": "177b6d13-cdb5-4d30-891e-0d5a7de22093",
      "credentials": {
        "gmailOAuth2": {
          "id": "MKBmK1EFnaZiZ5SM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://paper-api.alpaca.markets/v2/orders?status=all&after={{ $('POST LSTM Forecast').first().json.target_week_start }}&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-ppo-order-history",
      "name": "Fetch PPO Order History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        3248
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "YVMuh5FJ60TmYEVe",
          "name": "PPO"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://paper-api.alpaca.markets/v2/orders?status=all&after={{ $('POST LSTM Forecast').first().json.target_week_start }}&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-sac-order-history",
      "name": "Fetch SAC Order History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        3056
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "LHsT9blDwa8KyKdR",
          "name": "SAC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://paper-api.alpaca.markets/v2/orders?status=all&after={{ $('POST LSTM Forecast').first().json.target_week_start }}&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-hrp-order-history",
      "name": "Fetch HRP Order History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        3648
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "Po4KepbDzUFZNYiG",
          "name": "HRP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Compare intended orders vs actual execution from Alpaca\nconst intendedOrders = $('Generate Orders PPO').first().json.orders || [];\nconst executedOrders = $input.first().json || [];\n\nconst executionReport = intendedOrders.map(intended => {\n  const executed = executedOrders.find(o => o.client_order_id === intended.client_order_id);\n  return {\n    symbol: intended.symbol,\n    side: intended.side,\n    intended_qty: intended.qty,\n    filled_qty: executed?.filled_qty ? parseFloat(executed.filled_qty) : 0,\n    filled_avg_price: executed?.filled_avg_price ? parseFloat(executed.filled_avg_price) : null,\n    status: executed?.status || 'not_found',\n    client_order_id: intended.client_order_id\n  };\n});\n\nconst runId = $('Prep Orders PPO').first().json.run_id;\nreturn { json: { run_id: runId, model_type: 'ppo', execution_report: executionReport } };"
      },
      "id": "compare-ppo-orders",
      "name": "Compare PPO Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        3248
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Compare intended orders vs actual execution from Alpaca\nconst intendedOrders = $('Generate Orders SAC').first().json.orders || [];\nconst executedOrders = $input.first().json || [];\n\nconst executionReport = intendedOrders.map(intended => {\n  const executed = executedOrders.find(o => o.client_order_id === intended.client_order_id);\n  return {\n    symbol: intended.symbol,\n    side: intended.side,\n    intended_qty: intended.qty,\n    filled_qty: executed?.filled_qty ? parseFloat(executed.filled_qty) : 0,\n    filled_avg_price: executed?.filled_avg_price ? parseFloat(executed.filled_avg_price) : null,\n    status: executed?.status || 'not_found',\n    client_order_id: intended.client_order_id\n  };\n});\n\nconst runId = $('Prep Orders SAC').first().json.run_id;\nreturn { json: { run_id: runId, model_type: 'sac', execution_report: executionReport } };"
      },
      "id": "compare-sac-orders",
      "name": "Compare SAC Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        3056
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Compare intended orders vs actual execution from Alpaca\nconst intendedOrders = $('Generate Orders HRP').first().json.orders || [];\nconst executedOrders = $input.first().json || [];\n\nconst executionReport = intendedOrders.map(intended => {\n  const executed = executedOrders.find(o => o.client_order_id === intended.client_order_id);\n  return {\n    symbol: intended.symbol,\n    side: intended.side,\n    intended_qty: intended.qty,\n    filled_qty: executed?.filled_qty ? parseFloat(executed.filled_qty) : 0,\n    filled_avg_price: executed?.filled_avg_price ? parseFloat(executed.filled_avg_price) : null,\n    status: executed?.status || 'not_found',\n    client_order_id: intended.client_order_id\n  };\n});\n\nconst runId = $('Prep Orders HRP').first().json.run_id;\nreturn { json: { run_id: runId, model_type: 'hrp', execution_report: executionReport } };"
      },
      "id": "compare-hrp-orders",
      "name": "Compare HRP Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        3648
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/experience/update-execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-ppo-execution",
      "name": "Store PPO Execution Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7696,
        3248
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/experience/update-execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-sac-execution",
      "name": "Store SAC Execution Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7696,
        3056
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Trigger (Mon 18:00 IST)": {
      "main": [
        [
          {
            "node": "GET Halal Universe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch PPO Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch SAC Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch HRP Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check PPO Open Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SAC Open Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check HRP Open Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (for testing)": {
      "main": [
        [
          {
            "node": "GET Halal Universe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch PPO Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch SAC Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch HRP Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check PPO Open Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SAC Open Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check HRP Open Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PPO Account": {
      "main": [
        [
          {
            "node": "Fetch PPO Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PPO Positions": {
      "main": [
        [
          {
            "node": "Normalize PPO Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize PPO Positions": {
      "main": [
        [
          {
            "node": "Build PPO Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SAC Account": {
      "main": [
        [
          {
            "node": "Fetch SAC Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SAC Positions": {
      "main": [
        [
          {
            "node": "Normalize SAC Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize SAC Positions": {
      "main": [
        [
          {
            "node": "Build SAC Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HRP Account": {
      "main": [
        [
          {
            "node": "Fetch HRP Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HRP Positions": {
      "main": [
        [
          {
            "node": "Normalize HRP Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HRP Positions": {
      "main": [
        [
          {
            "node": "Build HRP Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Halal Universe": {
      "main": [
        [
          {
            "node": "Pick Top 20 Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top 20 Symbols": {
      "main": [
        [
          {
            "node": "Merge Portfolios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PPO Portfolio": {
      "main": [
        [
          {
            "node": "Merge Portfolios",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build SAC Portfolio": {
      "main": [
        [
          {
            "node": "Merge SAC + HRP Portfolios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HRP Portfolio": {
      "main": [
        [
          {
            "node": "Merge SAC + HRP Portfolios",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Portfolios": {
      "main": [
        [
          {
            "node": "POST Fundamentals",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST News Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST LSTM Forecast",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST PatchTST Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Fundamentals": {
      "main": [
        [
          {
            "node": "Merge Fundamentals + News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST News Sentiment": {
      "main": [
        [
          {
            "node": "Merge Fundamentals + News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Fundamentals + News": {
      "main": [
        [
          {
            "node": "Merge + LSTM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST LSTM Forecast": {
      "main": [
        [
          {
            "node": "Merge + LSTM",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge + LSTM": {
      "main": [
        [
          {
            "node": "Merge + PatchTST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST PatchTST Forecast": {
      "main": [
        [
          {
            "node": "Merge + PatchTST",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge + PatchTST": {
      "main": [
        [
          {
            "node": "Merge Phase 2 Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SAC + HRP Portfolios": {
      "main": [
        [
          {
            "node": "Merge Phase 2 Gate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Phase 2 Gate": {
      "main": [
        [
          {
            "node": "Prepare Phase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phase 2": {
      "main": [
        [
          {
            "node": "POST SAC",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST PPO",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST HRP Allocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST SAC": {
      "main": [
        [
          {
            "node": "Prep Orders SAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST PPO": {
      "main": [
        [
          {
            "node": "Prep Orders PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST HRP Allocation": {
      "main": [
        [
          {
            "node": "Prep Orders HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Orders PPO": {
      "main": [
        [
          {
            "node": "Generate Orders PPO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Experience PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Orders SAC": {
      "main": [
        [
          {
            "node": "Generate Orders SAC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Experience SAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Orders HRP": {
      "main": [
        [
          {
            "node": "Generate Orders HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Orders PPO": {
      "main": [
        [
          {
            "node": "Split Orders PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Orders SAC": {
      "main": [
        [
          {
            "node": "Split Orders SAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Orders HRP": {
      "main": [
        [
          {
            "node": "Split Orders HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Orders PPO": {
      "main": [
        [
          {
            "node": "Submit Order PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Orders SAC": {
      "main": [
        [
          {
            "node": "Submit Order SAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Orders HRP": {
      "main": [
        [
          {
            "node": "Submit Order HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Order PPO": {
      "main": [
        [
          {
            "node": "Collect Results PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Order SAC": {
      "main": [
        [
          {
            "node": "Collect Results SAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Order HRP": {
      "main": [
        [
          {
            "node": "Collect Results HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results SAC": {
      "main": [
        [
          {
            "node": "Merge SAC",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch SAC Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SAC": {
      "main": [
        [
          {
            "node": "Merge + PPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results PPO": {
      "main": [
        [
          {
            "node": "Merge + PPO",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch PPO Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge + PPO": {
      "main": [
        [
          {
            "node": "Merge + PPO (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge + PPO (2)": {
      "main": [
        [
          {
            "node": "Merge + HRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results HRP": {
      "main": [
        [
          {
            "node": "Merge + HRP",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch HRP Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge + HRP": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summary": {
      "main": [
        [
          {
            "node": "Format Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Body": {
      "main": [
        [
          {
            "node": "Gmail Send Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PPO Order History": {
      "main": [
        [
          {
            "node": "Compare PPO Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SAC Order History": {
      "main": [
        [
          {
            "node": "Compare SAC Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HRP Order History": {
      "main": [
        [
          {
            "node": "Compare HRP Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare PPO Orders": {
      "main": [
        [
          {
            "node": "Store PPO Execution Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare SAC Orders": {
      "main": [
        [
          {
            "node": "Store SAC Execution Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timezone": "Asia/Kolkata"
  },
  "versionId": "1c25bfa0-7c9a-4df4-b50a-3f9becd4b04f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ac600c806d93bc98c20d96e34e9e093e7a2e2a90be50c3459c339db000f53a2"
  },
  "id": "KDhC8BSJUztWjTKY",
  "tags": []
}